body {
    font-size: 0.9rem;
}

.container {
    width: max-content;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: column;
}

.search-media {
    text-decoration: none;
    color: black;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search-media:hover,
.search-media:focus {
    color: black;
}

.search-stream-container,
.search-lyrics-container {
    display: flex;
    flex-flow: column;
}

.media-type {
    font-weight: bolder;
}