body {
    font-size: 0.9rem;
}

.link-container {
    width: max-content;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: column;
}

.link {
    text-decoration: none;
    color: black;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link:hover,
.link:focus {
    color: black;
}

.link > span {
    font-weight: bolder;
}

.stream,
.lyrics {
    display: flex;
    flex-flow: column;
}