:root {
    --dark-mode-bg: #202124;
    --dark-mode-dark: #292a2d;
    --dark-mode-text: #e8eaed;
    --dark-mode-grey: #37383b;

    --light-mode-bg: #f8f9fa;
    --light-mode-light: #ffffff;
    --light-mode-text: #202124;
    --light-mode-grey: #c1c2c4;
}

body {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);

    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.9rem;
}

}

.container {
    width: max-content;
    padding: 0.5em;
    display: flex;
    flex-flow: column;
}

button {
    background-color: var(--dark-mode-dark);
    color: var(--dark-mode-text);

    border-color: var(--dark-mode-text);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;

    padding: 0.4em 1.25em;
}

button:hover,
button:focus {
    cursor: pointer;
    background-color: var(--dark-mode-grey);
    /* border: none;
    outline: none; */
}


@media (prefers-color-scheme: light) {

    body,
    button,
    select#mediaSrc {
        background: var(--light-mode-bg);
        color: var(--light-mode-text);
    }

    button,
    select#mediaSrc {
        border-color: var(--light-mode-text);
    }

    button:not(:disabled):hover,
    button:not(:disabled):focus {
        background-color: var(--light-mode-grey);;
    }

    select#mediaSrc {
        background: var(--light-mode-light);
    }

    button {
        background-repeat: no-repeat;
        background-blend-mode: normal;
    }
}

.media-type {
    font-weight: bolder;
}

select#mediaSrc {
    background-color: var(--dark-mode-dark);
    color: var(--dark-mode-text);
    border-color: var(--dark-mode-text);
    
    border-color: var(--dark-mode-text);
    border-width: 1px;
    border-style: solid;

    padding: 0.4em 0.5em;

    width: min-content;
    align-self: flex-end;
}


}

.search-media {
    /* height: 128px; */
    background-image: url("images/icons/apple-music_128.png");
    background-position-x: right;
    background-repeat: no-repeat;
}

#currentMedia {
    max-width: 40ch;
}